<!DOCTYPE html>
<html>
<head>
	<title>IMHUNGRY App API Docs</title>
	<style type="text/css">
		body {
			font-family: Helvetica, Arial, sans-serif;
		}
	</style>
</head>
<body>

	<h1 id="webdxdstudentappapi">IMHUNGRY App API</h1>

	<h2 id="apidocs">API Docs</h2>

	<h3 id="students">Restaurants</h3>

	<ul>
		<li><p>[GET] <code>/restaurant</code> Get Restaurant List</p></li>

		<li><p>[GET] <code>/restaurant/:id</code> Get Restaurant Detail by ID</p></li>

		<li><p>[POST] <code>/restaurant</code> Create a New Restaurant</p></li>

		<li><p>[PUT] <code>/restaurant/:id</code> Update Restaurant Detail by ID</p></li>

		<li><p>[DELETE] <code>/restaurant/:id</code> Delete a Restaurant by ID</p></li>
	</ul>

</body>
</html>
